* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Permanent Marker", cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
  }
  
  .container {
    text-align: center;
  }
  
  h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    margin-bottom: 20px;
  }
  
  .cell {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border: 2px solid #000000;
    font-size: 3rem;
    cursor: pointer;
  }
  
  .cell:hover {
    background-color: #f0f0f0;
  }
  
  .reset-btn {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    background-color: hsl(209, 100%, 50%);
    color: #ffffff;
    border: none;
    margin-right:  15px;
  }
  
  #status {
    margin-top: 10px;
    font-size: 1.2rem;
    font-weight: bold;
  }
  